
a:link {
  color: #e3d18a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #e3d18a;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #e3d18a;
  background-color: transparent;
  text-decoration: underline;
}
