body {
  background-color: #493323;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  }

header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #fde8cd;
  text-align: center;
  }

.aligncenter {
  text-align: center;
  }


  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #fde8cd;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #fde8cd;
    background-color: transparent;
    text-decoration: underline;
  }

footer {
    color: #fde8cd;
    text-align: center;
}
